<div class="container">

    <h2>Book informations :</h2>
    <div class="book-info-container">      
        <div class="book-image">
            <img src="<%= book.coverImagePath %>">
        </div>         
        <div class='book-info'>
            <h2>
                <%= book.title %>
            </h2>
            <h4>
                Author: <%= book.author.name %>
            </h4>
            <h4>
                Description: <%= book.description %>
            </h4>
            <h4>
                Pages: <%= book.pages %>
            </h4>
            <h4>
                Date Published: <%= book.publishDate.toDateString() %>
            </h4>
            <h4>
                Date Created: <%= book.createdAt.toDateString() %>
            </h4>
            <div class='control-btns'>
                <a href="/authors/<%= book.author.id%>" class='btn'>View author</a>
                <a href='/books/<%= book.id %>/edit' class='btn'>Edit</a>
                <form action='/books/<%= book.id%>?_method=DELETE' method='POST'>
                    <button type='submit' class='btn'>Delete</button>
                </form>     
            </div>
        </div>
    </div>
</div>