<h2>Book</h2>

    <div>
        <h3>
            <%= book.title %>
        </h3>
        <img height="450" width="350" src="<%= book.coverImagePath %>">
        <h4>
            Author: <%= book.author.name %>
        </h4>
        <h4>
            Description: <%= book.description %>
        </h4>
        <h4>
            Pages: <%= book.pages %>
        </h4>
        <h4>
            Date Publish: <%= book.publishDate.toDateString() %>
        </h4>
        <h4>
            Date Created: <%= book.createdAt.toDateString() %>
        </h4>
    </div>
    <a href='/books/<%= book.id %>/edit'>Edit</a>
    <form action='/books/<%= book.id%>?_method=DELETE' method='POST'>
        <button type='submit'>Delete</button>
    </form>
    <a href="/authors/<%= book.author.id%>">View Author</a>
    