<div class="container">
    <h2>Recently added</h2>
    <div class='books-container'>
        <% books.forEach(book =>{
            %>  
                <div class='book'>
                        <a href='/books/<%= book.id %>'>
                            <img src="<%= book.coverImagePath %>">
                        </a>  
                        <h3><%= book.title %></h3>  
                        <h4 class='author'><%= book.author.name %> . <span class='date'><%= book.publishDate.toDateString() %></span></h4>
                </div>
                
            <%
        })%>
    </div>
</div>