<div class="container">

<h2><%=author.name%></h2>
<div class="control-btns">
    <a href='/authors/<%= id %>/edit' class='btn'>Edit</a>
    <form action='/authors/<%= id %>?_method=DELETE' method='POST'>
        <button type='submit' class='btn'>Delete</button>
    </form>
</div>

<% if(books.length > 0) {

    %>
        <h2>
            <%= author.name %>'s Books
        </h2>
        <div class='books-container'>
            <% books.forEach(book=>{
                %>
                <div class='book'>
                    <a href='/books/<%= book.id %>'>
                        <img src="<%= book.coverImagePath %>">
                    </a>
                    <h3>
                        <%= book.title %>
                    </h3>
                    <h4 class='author'>
                        <span class='date'>
                            <%= book.publishDate.toDateString() %>
                        </span>
                    </h4>
                </div>
        
                <% })%>
        </div>
    <%

}%>

</div>
