<h2><%=author.name%></h2>
<a href='/authors/<%= id %>/edit'>Edit</a>
<form action='/authors/<%= id %>?_method=DELETE' method='POST'>
    <button type='submit'>Delete</button>
</form>

<h2><%= author.name %> Books</h2>
<% books.forEach(book =>{  
    %>
        <h3><%= book.title %></h3>
        <img height="450" width="350" src="<%= book.coverImagePath %>">
        <h4>
            <%= book.description %>
        </h4>
        <h4>
            <%= book.publishDate %>
        </h4>
        <h4>
            <%= book.pages %>
        </h4>
        <h4>
            <%= book.createdAt %>
        </h4>
    <%
}) %>